# exclude virtual environment
env/*

# exclude .pyc files
*.pyc

# exclude dev sqlite db
db.sqlite3

# exclude .backup files
*.backup

# exclude .log files
*.log

# exclude collected static files
static/*

# exclude edited configuration files
app/development.py
app/production.py
app/settings.py

