# exclude virtual environment
env/*

# exclude .pyc files
*.pyc

# exclude dev sqlite db
db.sqlite3

# exclude .backup files
*.backup

# exclude .log files
*.log

# exclude collected static files
static/*

# exclude configuration file
app/settings.py

