<!DOCTYPE html>
<html lang="en">

<head>
    <title>GertieAndVicGetMarried.com</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="//fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" />
    <link href="//api.mapbox.com/mapbox.js/v3.1.0/mapbox.css" rel="stylesheet" />
    <link href="static/style.css" rel="stylesheet" />

</head>

<body>

    <div class="wrap">

        <div class="panel parallax parallax-1">
            <div class="inner"></div>
        </div>

        <div class="panel content">
            <div class="inner">
                <div class="wide left">
                    <h2>We're getting married!</h2>
                    <p>Join us on October 21, 2017 at 5pm for the wedding of Gertie Fisher-Koeln and Vic Garcia.</p>
                    <p>The ceremony and reception will be held at the <a target="_blank" href="http://openhousechicago.org/sites/site/berger-park-cultural-center-downey-house/">Downey Mansion</a> at <a target="_blank" href="http://www.chicagoparkdistrict.com/parks/berger-park/">Berger Park</a>, located at <a target="_blank" href="https://www.google.com/maps/dir//6205+N+Sheridan+Rd,+Chicago,+IL+60660/@42.0244996,-87.7711165,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x880fd174d2c37a1f:0x21b2dce5cf19ebd4!2m2!1d-87.6551086!2d41.9948598">6205 N Sheridan</a> in Chicago.</p>
                    <p>If you will be joining us to celebrate, please use the form <span class="mobile-element">below</span><span class="fullpage-element">on the right</span> to RSVP.</p>
                </div>
                <div class="narrow right">
                    <div id="rsvp-wrap">
                        <form id="rsvp-form">
                            <input id="name" name="name" type="text" placeholder="your name" />
                            <select id="attending" name="attending">
                                <option disabled selected value>rsvp</option>
                                <option value="true">attending</option>
                                <option value="false">not attending</option>
                            </select>
                            <input class="hidden-field" id="guests" name="guests" type="text" placeholder="number of guests" />
                            <input id="phone" name="phone" type="text" placeholder="phone number" />
                            <textarea id="notes" name="notes" placeholder="message"></textarea>
                            {% csrf_token %}
                            <input type="submit" value="submit" />
                        </form>
                        <div id="rsvp-feedback" class="feedback">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel parallax parallax-2">
            <div class="inner"></div>
        </div>

        <div class="panel content">
            <div class="inner">
                <div class="narrow left">
                    <div id="map"></div>
                </div>
                <div class="wide right">
                    <h2>guest accommodations</h2>
                    <p>We have rooms reserved at four local hotels for guests. You are welcome to stay at one of these or other hotels. The venue is near the Red Line which is accessible downtown. Visitors flying into O'Hare can stay downtown and travel from the airport to their hotel via the Blue Line and forego the need for a rental car.</p>
                    <p>If you would like to book a room at one of these hotels, please contact them directly and mention that you are booking a room for the Fisher-Koeln / Garcia wedding.</p>
                    <p>
                        DoubleTree North Shore in Skokie <br/>
                        <a target="_blank" href="http://doubletree3.hilton.com/en/hotels/illinois/doubletree-by-hilton-hotel-chicago-north-shore-conference-center-CHICCDT/index.html">website</a> |
                        <a target="_blank" href="https://www.google.com/maps/dir/9599+Skokie+Blvd,+Skokie,+IL/6205+N+Sheridan+Rd,+Chicago,+IL+60660/@42.0245155,-87.7361821,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x880fcf7d3df20fa1:0xb98c77a4ec5e4abf!2m2!1d-87.7457657!2d42.0541442!1m5!1m1!1s0x880fd174d2c37a1f:0x21b2dce5cf19ebd4!2m2!1d-87.6551086!2d41.9948598">directions to venue</a>
                    </p>
                    <p>
                        Hampton Inn Chicago North<br/>
                        <a target="_blank" href="http://hamptoninn3.hilton.com/en/hotels/illinois/hampton-inn-chicago-north-loyola-station-CHIYOHX/index.html">website</a> |
                        <a target="_blank" href="https://www.google.com/maps/dir/1209+W+Albion+Ave,+Chicago,+IL+60626/6205+N+Sheridan+Rd,+Chicago,+IL+60660/@41.9981039,-87.6670242,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x880fd1a657ed6a1f:0x247a29faa0efaab1!2m2!1d-87.6613873!2d42.0025358!1m5!1m1!1s0x880fd174d2c37a1f:0x21b2dce5cf19ebd4!2m2!1d-87.6551086!2d41.9948598">directions to venue</a>
                    </p>
                    <p>
                        Hotel Indigo<br/>
                        <a target="_blank" href="https://www.ihg.com/hotelindigo/hotels/us/en/chicago/chigc/hoteldetail">website</a> |
                        <a target="_blank" href="https://www.google.com/maps/dir/1244+North+Dearborn+Street,+Chicago,+IL/6205+N+Sheridan+Rd,+Chicago,+IL+60660/@41.9470172,-87.711608,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x880fd34f89da5a17:0x792592c4e84d092a!2m2!1d-87.6304323!2d41.9052043!1m5!1m1!1s0x880fd174d2c37a1f:0x21b2dce5cf19ebd4!2m2!1d-87.6551086!2d41.9948598">directions to venue</a>
                    </p>
                    <p>
                        The Inn of Chicago<br/>
                        <a target="_blank" href="https://www.theinnofchicago.com">website</a> |
                        <a target="_blank" href="https://www.google.com/maps/dir/162+E+Grand+Ave,+Chicago,+IL+60611/6205+N+Sheridan+Rd,+Chicago,+IL+60660/@41.9411141,-87.7049603,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x880e2cac769e9803:0x266cc518ea2a9c8c!2m2!1d-87.6238413!2d41.8917494!1m5!1m1!1s0x880fd174d2c37a1f:0x21b2dce5cf19ebd4!2m2!1d-87.6551086!2d41.9948598">directions to venue</a>
                    </p>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>

        <div class="panel parallax parallax-3">
            <div class="inner"></div>
        </div>

        <div class="panel content">
            <div class="inner">
                <div class="wide left">
                    <h2>gift registry information</h2>
                    <p>Soon after our wedding we're planning an adventure! In order to make finding a new home in Miami easier, we are asking guests to forego traditional gifts.</p>
                    <p>If you wish to give us a gift, we've built this website to handle credit cards.  Payments are processed <a target="_blank" href="https://www.ssllabs.com/ssltest/analyze.html?d=gertieandvicgetmarried.com&hideResults=on">securely</a> using <a target="_blank" href="https://stripe.com">Stripe.</a></p>
                </div>
                <div class="narrow right">
                    <div id="gift-wrap">
                        <form id="gift-form">
                            <input id="gift-name" type="text" placeholder="your name" />
                            <input id="gift-email" type="text" placeholder="email address" />
                            <textarea id="gift-name" placeholder="gift message"></textarea>
                            <input id="gift-amount" type="text" placeholder="amount" />
                            <input id="card" type="text" placeholder="card number" />
                            <input id="exp" type="text" placeholder="mm/yyyy" />
                            <input id="cvc" type="text" placeholder="cvc" />
                            <input id="gift-csrf" type="hidden" value="{{ csrf_token }}" />
                            <input id="gift-submit" type="submit" value="submit" />
                        </form>
                        <div id="gift-feedback" class="feedback">
                        </div>
                    </div>
                </div>
                <div id="attribution">
                    <p><a href="https://github.com/vicgarcia/getmarried">vic garcia &copy; 2017</a></p>
                </div>
            </div>
        </div>

    </div>

    <script src="//code.jquery.com/jquery-3.2.1.js"></script>
    <script src="//api.mapbox.com/mapbox.js/v3.1.0/mapbox.js"></script>
    <script src="//js.stripe.com/v2/"></script>
    <script src="static/script.js"></script>
    <script>
        // mapbox api token
        L.mapbox.accessToken = '{{ mapbox_api_token }}';

        // stripe api public key
        Stripe.setPublishableKey('{{ stripe_public_key }}');
    </script>

</body>

</html>
